#title {
    background-color: yellow;
    padding: 15 px;
    text-align: center;
} 

#subtitle {
    background-color: yellow;
    padding: 15 px;
    text-align: center;
}

#display-result {
    padding: 15 px;
}

body {
    position: relative;
}

#test {
    background-color: red;
    height: 75 px;
    position: absolute;
    bottom: 0px;
    width: 75 px;
    height: 75 px;
}

#color-mode {
    background-color: green;
    height: 60px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}

